.output-container{
    transition: all .5s ease-in-out;
    background : white;
    overflow: hidden;

    .text-output-header{
        background : rgb(17, 19, 7) ;
        color : white;
        padding : 20px 0px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1vw;
        

        p{
            flex:1;
        }
        
    }   

    .row {
        display: flex;
        flex-direction: column;
        height : 100%;
      }
      
      .column1 {
        height: 40%;
        border-bottom:2px solid black;
        overflow: hidden;
        textarea{
            width : 99%;
            height : 100%;
            background : black;
            color : white;
            font-weight: bolder;
            margin-top:3px;
            padding : 0px 5px;
        }
      }

      .column2 {
        height: 60%;
        border-bottom:2px solid black;
        h4{
            padding: 10px;
            text-align: center;
        }
        .response{
            width : 100%;
            height: 100%;
            background :rgb(17, 19, 7);
            color : white;
            font-weight: bolder;
            font-family: Arial;
            border-radius: 2px;
            overflow : auto;
            white-space: pre-line;
            padding : 0px 5px;
        }
        .error{
            color: tomato;
        }
      }
      
}

.expand {
    transition: all .5s ease-in-out;
    flex : 1 !important;
}

.shrink{
    transition: all .5s ease-in-out;
    flex: 0.4 !important;
}

.full-dimension{
    width: 100%;
    height : 100%;
    background : rgba(45, 42, 42, 0.648)
}