
.each-folder {
    background: white;
    padding : 10px 0px;
    font-size:14px;
    color : black;
    border-bottom:1px solid white;
    font-family: Arial;
    font-weight: bolder;
    position: relative;
}


.each-folder:hover{
    cursor:pointer;
}

.activeFile{
    background : dodgerblue;
    color : white
}