.stretchButton{
    all:unset;
    background : dodgerblue;
    color : white;
    font-weight: bolder;
    font-size:1vw;
    z-index: 99999999999999999999999;
    cursor: pointer;
    height : 5vh;
    width : 4vw;
}


@media(max-width:1100px){
 .stretchButton{
    height:20px;
    width:20px;
    font-size:1vw;
 }   
}