// All the fonts goes here 
.press-start{
  font-family: 'Press Start 2P', cursive;
}

.arial{
  font-family: Arial;
}

.smallSize{
  font-size:75%;
}

.mediumSize{
  font-size:80%
}

.largerSize{
  font-size: 100%;
}

.bolder{
  font-weight: bolder;
}

.snackbar{
  .Toastify__close-button{
    position: absolute;
    top : -14%;
    left : 65%;
    color : black
  }
}