// All the fonts goes here 
.press-start{
  font-family: 'Press Start 2P', cursive;
}

.arial{
  font-family: Arial;
}

.smallSize{
  font-size:14px;
}

.mediumSize{
  font-size:20px
}

.largerSize{
  font-size: 28px;
}

.bolder{
  font-weight: bolder;
}